body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.header-style {
  width: 100%;
  background-color: #2196f3;
}
.header-style li{
  display: inline-block;
  list-style: none;
  padding: 20px;
}
.header-style li a{
  color:#fff;
  text-decoration: none;
}
.header-style li a:hover{
  text-decoration: underline;
}
.form-block{
  width: 400px;
  margin: 3% auto;
  text-align: center;
}
.form-block h1{
  text-align: center;
}
.form-block{

}
.form-block input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-block button {
  width: 30%;
  margin: auto;
  padding: 10px;
  background-color: #2196f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
}